
vendor/

.idea/

public/uploads/absences/*
!public/uploads/absences/.gitkeep

public/uploads/products/*
!public/uploads/products/.gitkeep

public/uploads/restaurants/*
!public/uploads/restaurants/.gitkeep
