
vendor/

.idea/

public/uploads/absences/*
!public/uploads/absences/.gitkeep

public/uploads/products/*
!public/uploads/products/.gitkeep

public/uploads/restaurants/maps/*
!public/uploads/restaurants/maps/.gitkeep

public/uploads/restaurants/photos/*
!public/uploads/restaurants/photos/.gitkeep

public/uploads/users/*
!public/uploads/users/.gitkeep

public/uploads/equipments/*
!public/uploads/equipments/.gitkeep
