html, 
body {
    height: 90%;
}

html {
    height: 90%;
  }
  body {
    min-height: 90%;
    background-color: #fbfbfd;
    font-family: verdana;
  }
.app-container {
    /* margin: 3vh; */
    border: solid;
    border-color: #dee2e6;
    background: #f5f5f5;
    border-width: 1px;
    border-radius: 5px;
    padding: 3vh; 
    height: auto;
    position: absolute;
    top: 3vh;
    right: 3vh;
    bottom: 3vh;
    left: 3vh;
}

.fnt_aw-btn {
    border: none !important;
    background: transparent !important;
}

#formLogin {
    text-align: center;
    position: absolute;
    top: 25vh;
}



.delete-btn {
    color: crimson;
}

.success-btn {
    color: green;
}

.inline {
    display: inline !important;
}

.rest-form-container {
    width: fit-content !important;
    text-align: center;
}

.rest-form-container h1 {
    text-align: center !important;
}

.content-center {
    display: grid !important;
    justify-items: center !important;
}
#toast-container{
    position:sticky;
    z-index:1055;
    top:0
}
#toast-wrapper{
    position:absolute;
    top:0;
    right:0;
    margin:5px
}
#toast-container>#toast-wrapper>.toast{
    min-width:150px
}
#toast-container>#toast-wrapper>.toast>.toast-header strong{
    padding-right:20px
}

.agenda-table {
    max-height: 75vh !important;
    width: 100%;
    height: 80vh !important;
    /* min-height: 100%; */
    table-layout:fixed;
    
}

.agenda-table td {
    /*padding: 10px;*/
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
    /* overflow: hidden;
    white-space: nowrap; */
}

.td-btn {
    width: 100% !important;
    height: 100% !important;
}

.agenda-table-6weeks td {
    height: 16.66%;
}

.agenda-weekday {
    font-weight: bold;
    color: #000;
    font-size: 1.2em; 
}

.agenda-day {
    font-size: 1.3em;
}

.agenda-othermonth .agenda-day {
    opacity: 0.3;
}

.current-day {
    color: red;
}

.table-box {
    max-height: 19vh;
    overflow-y: scroll;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* hide scrollbar */
.table-box::-webkit-scrollbar {
    display: none;
  }

.calendar-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

#nav-checks {
    position: absolute !important;
    left: 10vh !important;
    padding: 0;
}

#nav-checks>ul>li {
    height: 10vh !important;
}

.nav-btn {
    height: inherit;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    color:darkgrey !important;
}

.home-btn {
    position: absolute;
    bottom: 3vh;
    left: 40vw !important;
}

.btn-active {
    color: black !important;
}

.next-btn {
    position: absolute;
    bottom: 15vh !important;
    left: 48vw !important;
}

.comment-btn {
    position: absolute;
    bottom: 3vh;
    right: 5vw !important;
}

.comment-title {
    font-size: large;
    text-align: center !important;
    font-style: italic !important;
}

.comment-content {
    text-align: justify !important;
    width: 45vw !important;
}

#form-container {
    max-height: 45vh;
    overflow-y: scroll;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}
