.app-container {
    margin: 3vh;
    border: solid;
    border-color: #dee2e6;
    background: #f5f5f5;
    border-width: 1px;
    border-radius: 5px;
    padding: 3vh; 
}

.fnt_aw-btn {
    border: none !important;
    background: transparent !important;
}

.delete-btn {
    color: crimson;
}

.success-btn {
    color: green;
}

.inline {
    display: inline !important;
}

.content-center {
    display: grid !important;
    justify-items: center !important;
}
#toast-container{
    position:sticky;
    z-index:1055;
    top:0
}
#toast-wrapper{
    position:absolute;
    top:0;
    right:0;
    margin:5px
}
#toast-container>#toast-wrapper>.toast{
    min-width:150px
}
#toast-container>#toast-wrapper>.toast>.toast-header strong{
    padding-right:20px
}

.agenda-table {
    width: 100%;
    height: calc(100vh - 128px);
    table-layout:fixed;
}

.agenda-table td {
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
    /* overflow: hidden;
    white-space: nowrap; */
}

.agenda-table-6weeks td {
    height: 16.66%;
}

.agenda-weekday {
    font-weight: bold;
    color: #000;
    font-size: 1.2em; 
}

.agenda-day {
    font-size: 1.3em;
}

.agenda-othermonth .agenda-day {
    opacity: 0.3;
}

.current-day {
    color: red;
}